.infocard-odd{
    width: 400px;
    left: -15px;
    border-radius: 20px;
    z-index: 10;
    min-height: 200px;
    position: absolute;
    background-color: beige;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.infocard-even{
    width: 400px;
    right: -15px;
    border-radius: 20px;
    z-index: 10;
    min-height: 200px;
    position: absolute;
    background-color: beige;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.info{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    text-align: left;
}

.info h3{
    font-size: x-large;
    margin-top: 10px;
}

.info h6{
    font-size: x-small;
    margin-top: -20px;
}

.info p{
    font-size: small;
    margin-top: 0px;
}